services:
  - type: web
    name: buscador-pisos
    runtime: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: TELEGRAM_CHAT_IDS
        sync: false
      - key: RENDER_SERVICE_URL
        sync: false
